<?xml version="1.0" ?>
<robot name="manipulator_ros2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find manipulator_ros2_description)/urdf/materials.xacro" />
<xacro:include filename="$(find manipulator_ros2_description)/urdf/manipulator_ros2.trans" />
<xacro:include filename="$(find manipulator_ros2_description)/urdf/manipulator_ros2.gazebo" />

<link name="base_link">
  <inertial>
    <origin xyz="0.00014955285846922025 2.2839923289743684e-05 0.0290981401490612" rpy="0 0 0"/>
    <mass value="0.25826224486529137"/>
    <inertia ixx="0.00044" iyy="0.000436" izz="0.000759" ixy="1e-06" iyz="0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_1_1">
  <inertial>
    <origin xyz="-4.758358515705865e-06 -0.0009697104964107475 0.023444674137823543" rpy="0 0 0"/>
    <mass value="0.12358014218717779"/>
    <inertia ixx="0.000136" iyy="0.000109" izz="0.000114" ixy="0.0" iyz="5e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -0.063" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.063" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_2_1">
  <inertial>
    <origin xyz="-9.819895678735285e-05 -0.00014693334989390684 0.07181187739780545" rpy="0 0 0"/>
    <mass value="0.19645503989254853"/>
    <inertia ixx="0.000895" iyy="0.00088" izz="8.3e-05" ixy="0.0" iyz="2e-06" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="2.7e-05 0.000565 -0.135511" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="2.7e-05 0.000565 -0.135511" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_3_1">
  <inertial>
    <origin xyz="0.004087787989537511 -0.0009393142455362529 0.03926993227588771" rpy="0 0 0"/>
    <mass value="0.09551397551862403"/>
    <inertia ixx="9.1e-05" iyy="7e-05" izz="6.3e-05" ixy="-0.0" iyz="-3e-06" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="7.4e-05 0.000665 -0.304933" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="7.4e-05 0.000665 -0.304933" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_4_1">
  <inertial>
    <origin xyz="0.0014822815844658618 0.0003280078370169844 0.0232381041762576" rpy="0 0 0"/>
    <mass value="0.038346600988021666"/>
    <inertia ixx="1.5e-05" iyy="1.2e-05" izz="7e-06" ixy="0.0" iyz="-0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.000134 0.000665 -0.375933" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.000134 0.000665 -0.375933" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_5_1">
  <inertial>
    <origin xyz="0.0005521354684447922 0.0027459905432425037 0.030587143020476326" rpy="0 0 0"/>
    <mass value="0.027851162297357537"/>
    <inertia ixx="1.5e-05" iyy="9e-06" izz="9e-06" ixy="-0.0" iyz="1e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.000255 -0.000223 -0.416383" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.000255 -0.000223 -0.416383" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/link_5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="efector_1">
  <inertial>
    <origin xyz="7.017441023660716e-05 0.0005969072529317497 0.02862334780746889" rpy="0 0 0"/>
    <mass value="0.46837075835083564"/>
    <inertia ixx="0.000172" iyy="0.000208" izz="9.2e-05" ixy="-0.0" iyz="-4e-06" ixz="-7e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.000272 -0.000224 -0.46885" rpy="0 0 3.14159"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/efector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.000272 -0.000224 -0.46885" rpy="0 0 3.14159"/>
    <geometry>
      <mesh filename="file://$(find manipulator_ros2_description)/meshes/efector_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="joint_base_to_1" type="revolute">
  <origin xyz="0.0 0.0 0.063" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="link_1_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit lower="-2.1293" upper="1.7802" effort="10.0" velocity="1.5"/>
</joint>

<joint name="joint_1_to_2" type="revolute">
  <origin xyz="-2.7e-05 -0.000565 0.072511" rpy="0 0 0"/>
  <parent link="link_1_1"/>
  <child link="link_2_1"/>
  <axis xyz="0.002718 -0.999996 0.0"/>
  <limit lower="-2.2689" upper="2.4435" effort="10.0" velocity="1.5"/>
</joint>

<joint name="joint_2_to_3" type="revolute">
  <origin xyz="-4.7e-05 -0.0001 0.169422" rpy="0 0 0"/>
  <parent link="link_2_1"/>
  <child link="link_3_1"/>
  <axis xyz="0.002718 -0.999996 -0.0"/>
  <limit lower="-2.4435" upper="2.2689" effort="10.0" velocity="1.5"/>
</joint>

<joint name="joint_3_to_4" type="revolute">
  <origin xyz="0.000208 0.0 0.071" rpy="0 0 0"/>
  <parent link="link_3_1"/>
  <child link="link_4_1"/>
  <axis xyz="0.002932 8e-06 0.999996"/>
  <limit lower="-1.3963" upper="1.7453" effort="10.0" velocity="1.5"/>
</joint>

<joint name="joint_4_to_5" type="revolute">
  <origin xyz="0.000121 0.000888 0.04045" rpy="0 0 0"/>
  <parent link="link_4_1"/>
  <child link="link_5_1"/>
  <axis xyz="0.003099 0.999995 -1.7e-05"/>
  <limit lower="-1.3963" upper="1.7453" effort="10.0" velocity="1.5"/>
</joint>

<joint name="joint_5_to_eff" type="revolute">
  <origin xyz="1.7e-05 1e-06 0.052467" rpy="0 0 0"/>
  <parent link="link_5_1"/>
  <child link="efector_1"/>
  <axis xyz="-0.004131 -4e-06 -0.999991"/>
  <limit lower="-1.5708" upper="1.5708" effort="10.0" velocity="1.5"/>
</joint>

</robot>
